extends ./layout/index

block contenido
   main.container.mt-5
      .row 
         .col-md-5 
            img(src="img/nosotros.jpg", alt="Imagen sobre nosotros" class="img-fluid")
         .col-md-7 
            h1= pagina
            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at volutpat odio. Donec quis fringilla sapien. Ut pulvinar rutrum ligula ut faucibus. Fusce commodo leo in est tempor tincidunt. Proin vitae dolor quis neque malesuada egestas quis vitae leo. Etiam ac luctus augue. Phasellus nec accumsan erat, non tempor turpis.

            p Fusce faucibus diam eget odio pharetra sagittis. Vivamus eleifend risus ac tortor euismod ultrices. Phasellus blandit tellus sed est porttitor fermentum. Phasellus ut molestie erat. Proin condimentum dui massa, et congue sem tristique sit amet. Suspendisse scelerisque ligula nisi, a sagittis quam ultrices at. Ut ac mi a dolor sollicitudin tincidunt non eu urna. Praesent luctus et nulla in volutpat.

            p Nam feugiat ligula et metus feugiat rutrum. Suspendisse facilisis, ante sed rutrum pellentesque, nisi urna ornare orci, vitae viverra ante lorem cursus sapien. Maecenas convallis justo molestie, maximus nisi ut, efficitur sapien. Aliquam erat volutpat. Curabitur vestibulum commodo est pulvinar fringilla.

   .listado-iconos 
      .container.mt-5.py-5.text-center 
         .row 
            .col-md-4 
               img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
               h2.mb-4 Seguridad
               p Aliquam erat volutpat. Curabitur vestibulum commodo est pulvinar fringilla.

            .col-md-4 
               img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
               h2.mb-4 Mejores Destinos
               p Aliquam erat volutpat. Curabitur vestibulum commodo est pulvinar fringilla.
            
            .col-md-4 
               img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
               h2.mb-4 Los Mejores Precios
               p Aliquam erat volutpat. Curabitur vestibulum commodo est pulvinar fringilla.
            